@import "tailwindcss";

:root {
    --lightBackground: #f7f4ee;
    --background: #fbf9f2;
    --foreground: #1a1a1a;
    --primary: #f0e5d8;
    --secondary: #c2b69f;
    --accent: #827660;
    --neutral: #6e6658;
    --luxury: #3b3a36;
    --coral: #af2a1e;
    --darkCoral: #872118;
}

@theme inline {
    --color-lightBackground: var(--lightBackground);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-accent: var(--accent);
    --color-neutral: var(--neutral);
    --color-luxury: var(--luxury);
    --color-coral: var(--coral);
    --color-darkCoral: var(--darkCoral);
}

body {
    background-color: var(--background);
    background-image: linear-gradient(
            rgba(251, 249, 242, 0.65),
            rgba(251, 249, 242, 0.65)
        ),
        url("/images/wallpaper.webp");
    background-repeat: repeat;
    color: var(--foreground);
    font-family: "Roboto", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Georgia", serif;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-6px);
    }
    50% {
        transform: translateX(6px);
    }
    75% {
        transform: translateX(-3px);
    }
}

.shake {
    animation: shake 0.3s ease-in-out;
}
